#sf-cookie-consent {
  &:not(.shown) {
    opacity: 0;
    pointer-events: none;
  }

  & > * {
    position: fixed;
    z-index: 99999;
  }

  .layer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 9px 0 #a0a0a0;
    width: 90%;
    max-width: 550px;

    & > header {
      background: #000;
      color: #fff;
      padding: 10px 20px;
    }

    p {
      padding: 10px 20px;
      text-align: center;
    }

    .buttons {
      padding: 0 20px 10px;
      text-align: center;
    }

    p a, ul a {
      color: #000;
      cursor: pointer !important;
    }

    ul.features {
      list-style: none;
      margin: 0;
      padding: 0 0 0 50px;

      li {
        margin-bottom: 20px;

        label {
          font-weight: normal;
        }

        a {
          display: inline-block;
          margin-left: 20px;
        }
      }
    }

    p.privacy {
      padding-top: 0;
      margin-top: -16px;
    }

    &.feature-privacy {
      p {
        text-align: left;
      }
    }
  }

  .backdrop {
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: .5;
  }

  .body-default {
    display: block;
  }

  .body-settings {
    display: none;
  }

  &.settings {
    .body-default {
      display: none;
    }
    .body-settings {
      display: block;
    }
  }
}

.sf-cookie-consent-blocked {
  text-align: center;

  .no-consent {
    width: 100%;
    height: 100%;
  }

  .sf-button {
    margin-top: 20px;
  }
}
